# Collision Division - Investigating the data

In [1]:
import pandas as pd

In [2]:
# The first 10 lines were removed from the log file
data = pd.read_csv("20181108-201421_RTH80_input.log", header=None)

In [3]:
# Previewing the data
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.541708e+09,callsign --------,latitude 38.879638 longitude 282.379883,altitude 10965.180000 metres x,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro,NaN
1,1.541708e+09,callsign --------,latitude 38.868118 longitude 282.482260,altitude 9144.000000 metres x,groundspeed ---- m/s,airspeed ---- m/s,heading ----,icao a894f2,airbourne,cat 0,nic 8,ADS-B,current,baro,NaN
2,1.541708e+09,callsign --------,latitude 38.879638 longitude 282.379883,altitude 10965.180000 metres x,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro,NaN
3,1.541708e+09,callsign --------,latitude 38.868118 longitude 282.482260,altitude 9144.000000 metres x,groundspeed 193.256586 m/s,airspeed ---- m/s,heading 230.292070,icao a894f2,airbourne,cat 0,nic 8,ADS-B,current,baro,NaN
4,1.541708e+09,callsign --------,latitude 38.879638 longitude 282.379883,altitude 10965.180000 metres x,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro,NaN

In [4]:
# The number of rows and columns of the data
data.shape

(1129928, 15)

In [5]:
# Checking the column values for the 12th column
data[12].value_counts()

current    982735
stale      147193
Name: 12, dtype: int64

In [6]:
# Setting the column headers
col_names = ['index', 'callsign', 'lat/long', 'altitude_(m)', 'groundspeed_(m/s)',
            'airspeed_(m/s)', 'heading', 'icao', 'status', 'cat', 'nic', 
             'transponder_type', 'current/stale', 'baro', 'unknown']

data.columns = col_names

In [7]:
# Previewing the data
data.head(1)

,index,callsign,lat/long,altitude_(m),groundspeed_(m/s),airspeed_(m/s),heading,icao,status,cat,nic,transponder_type,current/stale,baro,unknown
0,1.541708e+09,callsign --------,latitude 38.879638 longitude 282.379883,altitude 10965.180000 metres x,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro,NaN

In [8]:
# Checking the values of the unknown column
data['unknown'].value_counts()

Series([], Name: unknown, dtype: int64)

In [9]:
# Dropping the last column (only has NaN values)
data.drop('unknown', axis=1, inplace=True)

In [10]:
data.head(1)

,index,callsign,lat/long,altitude_(m),groundspeed_(m/s),airspeed_(m/s),heading,icao,status,cat,nic,transponder_type,current/stale,baro
0,1.541708e+09,callsign --------,latitude 38.879638 longitude 282.379883,altitude 10965.180000 metres x,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro

## Cleaning up the columns

### Removing the word 'callsign' from every value

In [11]:
# Checking the callsign values
data.callsign.value_counts()

callsign --------    72395
callsign 00000000    14653
callsign DAL1241     13031
callsign N858CV      12909
callsign N6712J      12509
callsign NKS146      12494
callsign DAL1561     12399
callsign N500RE      12254
callsign JBU719      11996
callsign DAL1992     11682
callsign VIV3945     11391
callsign N45RR       11358
callsign SKW3625     11323
callsign JBU165      11289
callsign UAL1286     11084
callsign JBU119      11077
callsign SWA296      10944
callsign N544CM      10862
callsign AAL731      10789
callsign N591SF      10580
callsign SWA2218     10536
callsign DAL1544     10438
callsign AAL2032     10431
callsign DLH428      10368
callsign EDV3444     10314
callsign RPA4733     10115
callsign N512CZ      10097
callsign N690NG       9963
callsign FFT1139      9685
callsign DAL2162      9463
                     ...
callsign DCM6323       783
callsign EJA555        724
callsign ENY3659       686
callsign N7254P        676
callsign N404MM        638
callsign DAL1570       622
callsign RPA4584       606
callsign N377SC        581
callsign N1465E        533
callsign N2220N        525
callsign FFT1148       516
callsign CLU815        513
callsign GJS6289       513
callsign SKW5236       507
callsign AAL1506       497
callsign RPA6044       486
callsign AAL1955       473
callsign ENY9801       463
callsign N62DV         433
callsign UAL752        397
callsign RPA4580       394
callsign AAL401        387
callsign JBU6          382
callsign SWA1767       376
callsign N109DC        343
callsign DCM5304       281
callsign ETD19G        276
callsign UAL919        263
callsign AAL645        260
callsign LXJ583        241
Name: callsign, dtype: int64

In [12]:
# Removing the word 'callsign' from every row in callsign
data['callsign'] = data['callsign'].str.split().str[1]

In [13]:
# Replacing all '--------' values with a single - to make it easier
data['callsign'].replace('--------', '-', inplace=True)

In [14]:
data.callsign.value_counts()

-           72395
00000000    14653
DAL1241     13031
N858CV      12909
N6712J      12509
NKS146      12494
DAL1561     12399
N500RE      12254
JBU719      11996
DAL1992     11682
VIV3945     11391
N45RR       11358
SKW3625     11323
JBU165      11289
UAL1286     11084
JBU119      11077
SWA296      10944
N544CM      10862
AAL731      10789
N591SF      10580
SWA2218     10536
DAL1544     10438
AAL2032     10431
DLH428      10368
EDV3444     10314
RPA4733     10115
N512CZ      10097
N690NG       9963
FFT1139      9685
DAL2162      9463
            ...
DCM6323       783
EJA555        724
ENY3659       686
N7254P        676
N404MM        638
DAL1570       622
RPA4584       606
N377SC        581
N1465E        533
N2220N        525
FFT1148       516
GJS6289       513
CLU815        513
SKW5236       507
AAL1506       497
RPA6044       486
AAL1955       473
ENY9801       463
N62DV         433
UAL752        397
RPA4580       394
AAL401        387
JBU6          382
SWA1767       376
N109DC        343
DCM5304       281
ETD19G        276
UAL919        263
AAL645        260
LXJ583        241
Name: callsign, dtype: int64

## Splitting out the latitude and longitude

In [15]:
# Splitting out the latitude and longitude
data['latitude'] = data['lat/long'].str.split().str[1]
data['longitude'] = data['lat/long'].str.split().str[3]

In [16]:
# Dropping the lat/long column
data.drop('lat/long', axis=1, inplace=True)

## Altitude column

In [17]:
# Splitting up the altitude column
data['altitude_(m)'][1].split()

['altitude', '9144.000000', 'metres', 'x']

In [18]:
# Checking if all units are metres (they are)
data['altitude_(m)'].str.split().str[2].value_counts()

metres    1129928
Name: altitude_(m), dtype: int64

In [19]:
# Keeping the x/+ value until I find out if it means anything
data['altitude_units_x/+'] = data['altitude_(m)'].str.split().str[3]

# Removing the word altitude from each value
data['altitude_(m)'] = data['altitude_(m)'].str.split().str[1]

In [20]:
# Replace '-----' with '-'
data['altitude_(m)'].replace('-----', '-', inplace=True)

In [21]:
# Three different units (X, +, -). Need to find out what they mean.
data['altitude_units_x/+'].value_counts()

x    827342
+    196091
-    106495
Name: altitude_units_x/+, dtype: int64

In [22]:
data.head(1)

,index,callsign,altitude_(m),groundspeed_(m/s),airspeed_(m/s),heading,icao,status,cat,nic,transponder_type,current/stale,baro,latitude,longitude,altitude_units_x/+
0,1.541708e+09,-,10965.180000,groundspeed 189.128838 m/s,airspeed ---- m/s,heading 218.927544,icao a6b911,airbourne,cat 0,nic 7,ADS-B,current,baro,38.879638,282.379883,x

## Groundspeed column

In [23]:
# Inspecting the first value for groundspeed
data['groundspeed_(m/s)'][1].split()

['groundspeed', '----', 'm/s']

In [24]:
# Checking if the unit is always m/s
data['groundspeed_(m/s)'].str.split().str[2].value_counts()

m/s    1129928
Name: groundspeed_(m/s), dtype: int64

In [25]:
# Removing the word groundspeed and m/s
data['groundspeed_(m/s)'] = data['groundspeed_(m/s)'].str.split().str[1]

In [26]:
# Replacing '----' with '-'
data['groundspeed_(m/s)'].replace('----', '-', inplace=True)

## Airspeed column

In [27]:
# Inspecting the first value for airspeed
data['airspeed_(m/s)'][1].split()

['airspeed', '----', 'm/s']

In [28]:
# Checking the values of this column. Redundant.
data['airspeed_(m/s)'].value_counts()

airspeed ---- m/s    1129928
Name: airspeed_(m/s), dtype: int64

In [29]:
# Dropping the column from the dataframe
data.drop('airspeed_(m/s)', axis=1, inplace=True)

## Heading column

In [30]:
# Inspecting the first value for heading
data['heading'][1].split()

['heading', '----']

In [31]:
# Removing the word heading
data['heading'] = data['heading'].str.split().str[1]

In [32]:
# Replacing '----' with '-'
data['heading'].replace('----', '-', inplace=True)

## icao column

In [33]:
# Inspecting the first value for icao
data['icao'][1].split()

['icao', 'a894f2']

In [34]:
# Removing the word icao
data['icao'] = data['icao'].str.split().str[1]

## cat column

In [35]:
# Inspecting the first value for cat
data['cat'][1].split()

['cat', '0']

In [36]:
# Removing the word icao
data['cat'] = data['cat'].str.split().str[1]

In [37]:
# Checking the values of cat (not sure what cat is, but it's an int value of 0,1,2,4,5,6)
data['cat'].value_counts()

4    530840
0    255081
2    210955
1     72504
6     33885
5     26663
Name: cat, dtype: int64

## Nic column

In [38]:
# Inspecting the first value for nic
data['nic'][1].split()

['nic', '8']

In [39]:
# Removing the word icao
data['nic'] = data['nic'].str.split().str[1]

In [40]:
# Checking the values of cat (not sure what nic is, but it's an int value)
data['nic'].value_counts()

8     1020574
7       47865
9       25877
10      23751
11       5807
0        4097
12       1386
13        252
14        153
15         49
16         44
18         38
17         35
Name: nic, dtype: int64

In [41]:
data.head(1)

,index,callsign,altitude_(m),groundspeed_(m/s),heading,icao,status,cat,nic,transponder_type,current/stale,baro,latitude,longitude,altitude_units_x/+
0,1.541708e+09,-,10965.180000,189.128838,218.927544,a6b911,airbourne,0,7,ADS-B,current,baro,38.879638,282.379883,x

## Checking values for other columns

In [42]:
# Checking the values for transponder type. All values are ADS-B
data['transponder_type'].value_counts()

ADS-B    1129928
Name: transponder_type, dtype: int64

In [43]:
# Dropping the transponder type column since data is redundant
data.drop('transponder_type', axis=1, inplace=True)

In [44]:
# Checking the values for current/stale. Binary.
data['current/stale'].value_counts()

current    982735
stale      147193
Name: current/stale, dtype: int64

In [45]:
# Checking the values for baro. Binary.
data['baro'].value_counts()

baro    1126656
geo        3272
Name: baro, dtype: int64

## Rearranging the columns

In [46]:
data.columns

Index(['index', 'callsign', 'altitude_(m)', 'groundspeed_(m/s)', 'heading',
       'icao', 'status', 'cat', 'nic', 'current/stale', 'baro', 'latitude',
       'longitude', 'altitude_units_x/+'],
      dtype='object')

In [47]:
columns = ['index', 'icao', 'callsign', 'latitude', 'longitude', 'altitude_(m)', 
           'altitude_units_x/+', 'groundspeed_(m/s)', 'heading', 
           'status', 'cat', 'nic', 'current/stale', 'baro']

data = data.reindex(columns=columns)

In [48]:
data.head()

,index,icao,callsign,latitude,longitude,altitude_(m),altitude_units_x/+,groundspeed_(m/s),heading,status,cat,nic,current/stale,baro
0,1.541708e+09,a6b911,-,38.879638,282.379883,10965.180000,x,189.128838,218.927544,airbourne,0,7,current,baro
1,1.541708e+09,a894f2,-,38.868118,282.482260,9144.000000,x,-,-,airbourne,0,8,current,baro
2,1.541708e+09,a6b911,-,38.879638,282.379883,10965.180000,x,189.128838,218.927544,airbourne,0,7,current,baro
3,1.541708e+09,a894f2,-,38.868118,282.482260,9144.000000,x,193.256586,230.292070,airbourne,0,8,current,baro
4,1.541708e+09,a6b911,-,38.879638,282.379883,10965.180000,x,189.128838,218.927544,airbourne,0,7,current,baro

## Exporting the cleaned up csv file

In [49]:
data.to_csv("cleaned_data_collision_division.csv")

## To do

- Check what all of the columns actually mean
    - index (it's currently a float, but might just be a string value)
    - cat
    - nic
    - current/stale
    - baro
    - altitude_units (what do X, +, - mean)

- Drop callsign if icao is a better identifier
- Drop the index column if it is meaningless